---
metadata:
  name: login form
  params:
    action: ''
    method: 'POST'
    redirect_to: '/'
    classes: ''
    errors:
      - field_name: "email"
      - error: "Error message"
    values:
      - field_name: "email"
      - value: "random@example.com"
    register_page_url: '/sign-up'
    password_reset_page_url: '/passwords/reset'
---
{% liquid
  assign action = actions | default: params.action | default: '/sessions/create'
  assign method = method | default: params.method | default: 'POST'
  assign redirect_to = redirect_to | default: params.redirect_to | default: '/'
  assign register_page_url = register_page_url | default: params.register_page_url | default: '/sign-up'
  assign password_reset_page_url = password_reset_page_url | default: params.password_reset_page_url | default: '/passwords/reset'
%}

<form action="{{action}}" method="{{method}}" {% if params.classes %}class="{{params.classes}}"{% endif %} data-tc="login-form">
  {% liquid
    assign input_params = '{}' | parse_json | hash_merge: name: 'email', required: true, type: 'email', value: params.values.email, classes: "w-full"
    assign label_params = '{}' | parse_json | hash_merge: content: 'E-mail'
    assign description_params = '{}' | parse_json | hash_merge: content: 'E-mail address of the user'
    assign validation = '{}' | parse_json
    if params.errors['email']
      hash_assign validation['passed'] = false
      hash_assign validation['messages'] = params.errors['email']
    endif
    assign fieldset_params = '{}' | parse_json | hash_merge: label_params: label_params, input_params: input_params, description_params: description_params, validation: validation, classes: "mb-6"
    theme_render_rc 'components/molecules/formfield', params: fieldset_params
  %}

  {% liquid
    assign input_params = '{}' | parse_json | hash_merge: name: 'password', type: 'password', required: true, classes: "w-full"
    assign label_params = '{}' | parse_json | hash_merge: content: 'Password'
    assign description_params = '{}' | parse_json | hash_merge: content: 'Password'
    assign validation = '{}' | parse_json
    if params.errors['password']
      hash_assign validation['passed'] = false
      hash_assign validation['messages'] = params.errors['password']
    endif
    assign fieldset_params = '{}' | parse_json | hash_merge: label_params: label_params, input_params: input_params, description_params: description_params, validation: validation, classes: "mb-6"
    theme_render_rc 'components/molecules/formfield', params: fieldset_params
  %}

  {% liquid
    assign input_params = '{}' | parse_json | hash_merge: name: 'authenticity_token', type: 'hidden', value: context.authenticity_token
    theme_render_rc 'components/atoms/input', params: input_params
  %}

  {% liquid
    assign input_params = '{}' | parse_json | hash_merge: name: 'redirect_to', type: 'hidden', value: redirect_to
    theme_render_rc 'components/atoms/input', params: input_params
  %}

  {% liquid
    assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', content: 'Login', type: 'submit'
    theme_render_rc 'components/atoms/button', params: button_params
  %}

  {% if register_page_url %}<div class="pt-6">Dont't have an account? <a href="{{register_page_url}}">Register</a></p>{% endif %}
  {% if password_reset_page_url %}<div>Password lost? <a href="{{password_reset_page_url}}">Reset password</a></div>{% endif %}
</form>
